.img1 {
  background-image: url("http://i.giphy.com/R3UafZ0oSUl6o.gif");
  background-size: cover;
}
.img2 {
  background-image: url("http://i.giphy.com/AX0Q3tzONW8DK.gif");
  background-size: cover;
}

.img3{ background-image: url("http://i.giphy.com/3ornkdh08W9XFtX9QI.gif");
  background-size: cover;
}

.img4{ background-image: url("http://i.giphy.com/l0G18lMKSLQ4wXToI.gif");
  background-size: cover;
}

.img5{ background-image: url("http://i.giphy.com/sAnFyf9VD1E9G.gif");
  background-size: cover;
}

.img6{ background-image: url("http://i.giphy.com/74TmDDqGhj332.gif");
  background-size: cover;
}
